.button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--background);
   border-radius: 0.5rem;
   border: 1px solid var(--text);
   transition-duration: 200ms;
   
   a {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      text-align: center;
      color: var(--text);
      text-decoration: none;
   }
}
.button:hover {
   transition-duration: 200ms;
   background-color: var(--stronger-background);
}