.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10rem;
	margin-bottom: 10rem;

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@media screen and ( max-width: 1000px ) {
		display: block;
	}
}